@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  cursor: url("https://i.ibb.co/7VMmqd8/cursor.png"), auto; }

body {
  background-color: black;
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  line-height: 1.3rem;
  color: white; }

/* MENU */
header {
  height: 54px; }
  header ul {
    list-style: none; }
  header a {
    font-family: 'Ropa Sans', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 15px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: darkcyan;
    transition: color 0.4s;
    letter-spacing: 0.05rem;
    line-height: 1.5rem; }
    header a:hover {
      color: cyan;
      text-decoration: none; }

.logo img {
  width: 52.3px;
  height: 40px;
  margin-left: 10px; }

.navbar-custom {
  background-color: black;
  border-bottom: solid 1px #111;
  transition: border-color ease-in-out 0.7s; }
  .navbar-custom:hover {
    border-color: darkcyan; }

.open {
  color: darkgray; }

.open:hover {
  color: white; }

/* FOOTER */
/* PARTNERS */
.partners {
  text-align: center;
  border-top: solid 1px #111; }
  .partners img {
    max-width: 45%;
    transition: all 0.35s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100); }
    .partners img:hover {
      filter: none;
      transform: scale(1.15); }

/* REDES Y COPY */
.redes-copy {
  width: 100%;
  height: 50px;
  justify-content: center;
  bottom: 0;
  border-top: solid 1px #111; }

#copyright {
  filter: brightness(25%); }

#instagram, #twitter, #facebook {
  position: absolute;
  color: white;
  font-size: 2rem;
  margin-top: 10px;
  transition: all 0.35s; }

#instagram {
  right: 120px; }
  #instagram:hover {
    color: #c13584; }

#twitter {
  right: 80px; }
  #twitter:hover {
    color: #1da1f2; }

#facebook {
  right: 40px; }
  #facebook:hover {
    color: #4267b2; }

/* MEDIA QUERY */
/* MEDIUM */
@media (max-width: 991px) {
  .logo img {
    margin-left: 0; }
  .partners img {
    max-width: 25%; } }

/* SMALL */
@media (max-width: 767px) {
  .redes-copy img {
    max-width: 40%; }
  #copyright {
    display: none; } }

/* ----- INDEX ----- */
.body-i {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black; }

/* TEXTO */
.text-i {
  -webkit-text-stroke: 1.5px darkcyan;
  color: black;
  width: 550px;
  font-weight: 1000;
  font-size: 6.5rem;
  line-height: 5.5rem;
  margin-left: 20px;
  margin-top: 180px;
  transition: 1s; }
  .text-i:hover {
    -webkit-text-stroke: 1.5px black;
    color: darkcyan;
    transform: scale(1.05) translate(15px); }

/* MEDIA QUERY */
/* MEDIUM */
@media (max-width: 991px) {
  .text-i {
    font-size: 6rem;
    line-height: 5rem; } }

/* SMALL */
@media (max-width: 767px) {
  .text-i {
    font-size: 5rem;
    line-height: 4rem; } }

/* EXTRA SMALL */
@media (max-width: 575px) {
  .text-i {
    font-size: 4rem;
    line-height: 3rem; } }

/* ----- BIOGRAFIA ----- */
/* IMAGEN */
.img-b img {
  max-width: 420px;
  max-height: 663.27px;
  margin-left: 20px;
  margin-top: 8.69px; }

/* TEXTO */
.text-b {
  position: relative;
  text-align: center;
  align-content: center;
  margin: auto 40px; }
  .text-b h2 {
    margin-top: 16px;
    font-size: 2.5rem; }
  .text-b p {
    font-size: 1.1rem;
    font-weight: bold; }

/* MEDIA QUERY */
/* LARGE */
@media (max-width: 1199px) {
  /* imagen */
  .img-b img {
    max-width: 320px;
    max-height: 505.35px; } }

/* ----- CALENDARIO ----- */
/* CIRCUITOS */
.resultados, .detalles {
  border: solid 3px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 5px; }

.resultados {
  border-color: cyan;
  color: white; }

.detalles {
  border-color: darkcyan;
  background: black; }

.race {
  line-height: 2rem; }

.ronda {
  font-size: 0.8rem;
  letter-spacing: 0.2rem; }

.lugar {
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  color: cyan; }

.fecha {
  font-size: 0.9rem;
  letter-spacing: 0.10rem; }

.circuitos {
  width: 200px;
  height: 150px;
  padding: 10px 0; }
  .circuitos img {
    width: 90%;
    height: 90%;
    object-fit: contain; }

.btn-outline {
  color: darkcyan;
  border: solid 1px darkcyan; }

.btn-outline:hover {
  color: cyan;
  border-color: cyan; }

.btn-filled {
  color: darkcyan;
  border-top: solid 3px darkcyan; }

.btn-filled:hover {
  color: cyan; }

/* INFO */
.modal-content {
  background: black;
  border: solid 3px darkcyan; }

.modal-title {
  font-size: 1.5rem; }

.autodromos img {
  width: 400px;
  height: 225px;
  object-fit: cover;
  border-radius: 5px; }

.posicion {
  margin-top: 10px;
  font-weight: 600; }

/* MEDIA QUERY */
/* EXTRA SMALL */
@media (max-width: 575px) {
  .autodromos img {
    width: 330px;
    height: 191.25px; } }

/* ----- TRAYECTORIA ----- */
/* BOXES */
.box-t {
  border: 4px solid darkcyan;
  box-sizing: border-box;
  width: 550px;
  height: 390px;
  margin: 10px 0 20px 0;
  border-radius: 7.5px;
  transition: border 0.7s; }
  .box-t:hover {
    border: solid 4px cyan; }

/* H2 */
.box-t h2 {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 0px;
  margin: 30px 20px; }

.box-t-right h2 {
  text-align: right; }

/* IMAGENES */
.img-t {
  width: 500px;
  height: 300px;
  margin: 0 20px;
  background-size: cover;
  border-radius: 5px; }

/* FONDO */
.info-t {
  overflow: hidden;
  width: 500px;
  height: 300px;
  background-color: #111;
  opacity: 0;
  transition: all 0.7s; }
  .info-t:hover {
    opacity: 0.9;
    border-radius: 5px; }

/* TEXTO */
.text-t {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 20px;
  line-height: 1.5rem; }

/* LINKS IMAGENES */
/* BOXES */
/* BOX 1 (1995) */
#img1 {
  background-image: url("https://i.ibb.co/GTSV4yp/LH-1995.jpg"); }

/* BOX 2 (1999-2000) */
#img2 {
  background-image: url("https://i.ibb.co/6HTP6SV/LH-1999.jpg"); }

/* BOX 3 (2001-2003) */
#img3 {
  background-image: url("https://i.ibb.co/C1PWb5J/LH-2001.jpg"); }

/* BOX 4 (2004-2005) */
#img4 {
  background-image: url("https://i.ibb.co/P9TYSgy/LH-2004.jpg"); }

/* BOX 5 (2006) */
#img5 {
  background-image: url("https://i.ibb.co/DwBKdgX/LH-2006.jpg"); }

/* BOX 6 (2007) */
#img6 {
  background-image: url("https://i.ibb.co/mS82CRF/LH-2007.jpg"); }

/* BOX 7 (2008) */
#img7 {
  background-image: url("https://i.ibb.co/THhcBxz/LH-2008.jpg"); }

/* BOX 8 (2009-2012) */
#img8 {
  background-image: url("https://i.ibb.co/5BSw2KZ/LH-2009.jpg"); }

/* BOX 9 (2013) */
#img9 {
  background-image: url("https://i.ibb.co/8YPyjrW/LH-2013.jpg"); }

/* BOX 10 (2014) */
#img10 {
  background-image: url("https://i.ibb.co/L5bM9My/LH-2014.jpg"); }

/* BOX 11 (2015) */
#img11 {
  background-image: url("https://i.ibb.co/fv3tH0k/LH-2015.jpg"); }

/* BOX 12 (2016) */
#img12 {
  background-image: url("https://i.ibb.co/287hPgf/LH-2016.jpg"); }

/* BOX 13 (2017) */
#img13 {
  background-image: url("https://i.ibb.co/D5R0Cjh/LH-2017.jpg"); }

/* BOX 14 (2018) */
#img14 {
  background-image: url("https://i.ibb.co/PGPvGWj/LH-2018.jpg"); }

/* BOX 15 (2019) */
#img15 {
  background-image: url("https://i.ibb.co/xD3SWFf/LH-2019.jpg"); }

/* BOX 16 (2020) */
#img16 {
  background-image: url("https://i.ibb.co/cF5KXpn/LH-2020.jpg"); }

/* BOX 17 (2021) */
#img17 {
  background-image: url("https://i.ibb.co/pbJPrGx/LH-2021.jpg"); }

/* MEDIA QUERY */
/* EXTRA SMALL */
@media (max-width: 575px) {
  .box-t {
    width: 450px;
    height: 330px; }
  .img-t {
    width: 400px;
    height: 240px; }
  .info-t {
    width: 400px;
    height: 240px; }
  .text-t {
    width: 400px;
    height: 240px;
    font-size: 1.25rem;
    line-height: 1.25rem; } }

/* CUSTOM */
@media (max-width: 475px) {
  .box-t {
    width: 350px;
    height: 270px; }
  .img-t {
    width: 300px;
    height: 180px; }
  .info-t {
    width: 300px;
    height: 180px; }
  .text-t {
    width: 300px;
    height: 180px;
    font-size: 1rem;
    line-height: 1rem; } }

/* ----- CARRERAS ----- */
/* TABLA */
.table-car {
  display: flex;
  justify-content: center;
  margin: 10px 20px 0 20px;
  font-size: 1rem; }
  .table-car table {
    border-collapse: collapse;
    border: solid 3px darkcyan; }
  .table-car thead {
    color: darkcyan; }
    .table-car thead th {
      background-color: black;
      border-bottom: 3px solid darkcyan; }
  .table-car th, .table-car td {
    padding: 20px;
    letter-spacing: 1px;
    text-align: center; }
  .table-car .win {
    color: cyan; }
  .table-car tr:nth-child(odd) {
    background-color: #111; }
  .table-car tr:nth-child(even) {
    background-color: black; }

#t-corto:before {
  content: "TEMPORADA"; }

#c-corto:before {
  content: "CARRERAS"; }

#v-corto:before {
  content: "VICTORIAS"; }

.aclaracion {
  padding: 30px; }

/* MEDIA QUERY */
/* MEDIUM */
@media (max-width: 991px) {
  /* titulo */
  .title-car h2 {
    font-size: 1.6rem; }
  /* tabla */
  .table-car {
    font-size: 0.75rem; }
    .table-car th, .table-car td {
      padding: 10px; }
  #t-corto:before {
    content: "TEMP."; }
  #c-corto:before {
    content: "CARR."; }
  #v-corto:before {
    content: "VIC."; } }

/* CUSTOM */
@media (max-width: 667px) {
  /* titulo */
  .title-car h2 {
    font-size: 1.4rem; }
  /* tabla */
  .table-car {
    font-size: 0.7rem; }
    .table-car th, .table-car td {
      padding: 5px; } }

/* EXTRA SMALL */
@media (max-width: 575px) {
  /* titulo */
  .title-car h2 {
    font-size: 1.1rem; }
  /* tabla */
  .table-car {
    font-size: 0.6rem;
    line-height: 0.75rem; }
    .table-car th, .table-car td {
      padding: 2.5px; } }

/* ----- CONTACTO ----- */
/* PANEL */
.panel-co {
  position: relative;
  padding: 10px 0; }
  .panel-co fieldset {
    height: 405px;
    width: 400px;
    margin-left: 20px;
    border: 2px darkcyan solid;
    border-radius: 5px; }
  .panel-co legend {
    font-size: 1.5rem;
    width: 138px;
    margin-left: 20px; }
  .panel-co input {
    background-color: transparent;
    font-size: 1.1rem;
    color: white;
    border: 3px;
    width: 350px;
    height: 50px;
    margin-left: 10px; }
  .panel-co label {
    font-size: 1.25rem;
    margin-left: 10px; }
  .panel-co textarea {
    background-color: transparent;
    border-color: darkcyan;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    width: 375px;
    height: 100px; }
  .panel-co .enviar {
    background-color: darkcyan;
    border-radius: 5px;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    width: 85px;
    height: 35px;
    margin-left: 10px;
    transition: all 0.4s; }
    .panel-co .enviar:hover {
      background-color: black;
      color: darkcyan; }

/* IMAGEN */
.img-co img {
  width: 452.53px;
  height: 390px; }

/* MEDIA QUERY */
/* EXTRA SMALL */
@media (max-width: 575px) {
  .panel-co fieldset {
    width: 350px; }
  .panel-co input {
    width: 300px;
    height: 50px; }
  .panel-co textarea {
    width: 325px; } }

/* ----- 404 ----- */
.body-404 {
  background-color: black;
  /* TEXTO */ }
  .body-404 h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 3rem;
    color: darkcyan;
    background-color: #111; }
  .body-404 h1 {
    text-align: center;
    font-size: 10rem;
    color: black;
    -webkit-text-stroke: 1px cyan; }
  .body-404 h3 {
    margin-top: 2rem;
    text-align: center; }
    .body-404 h3 a {
      color: black;
      background-color: darkcyan;
      border-radius: 5px;
      text-decoration: none;
      font-family: "Inconsolata", monospace;
      transition: 0.5s; }
      .body-404 h3 a:hover {
        background-color: cyan;
        color: black;
        text-decoration: none; }
