/* ----- BIOGRAFIA ----- */
/* FONDO */
#fondo-b::before {
    background-image: url("https://i.ibb.co/gmXy7nk/Fondo-Biografia.jpg"); }
/* IMAGEN */
.img-b img {
    max-width: 420px;
    max-height: 663.27px;
    margin-left: 20px; }
/* TEXTO */
.text-b {
    position: relative;
    text-align: center;
    align-content: center;
    margin: auto 40px;
    h2 {
        margin-top: 16px;
        font-size: 2.5rem; }
    p {
        font-size: 1.1rem;
        font-weight: bold; } }

/* MEDIA QUERY */
/* LARGE */
@media (max-width: 1199px) {
    /* imagen */
    .img-b img {
        max-width: 320px;
        max-height: 505.35px; } }