/* ----- CARRERAS ----- */
/* FONDO */
#fondo-car::before {
    background-image: url("https://i.ibb.co/mqWczvk/Fondo-Carreras.jpg"); }
/* TABLA */
.table-car {
    display: flex;
    justify-content: center;
    margin: 10px 20px 0 20px;
    font-size: 1rem;
    table {
        border-collapse: collapse;
        border: solid 3px darkcyan; }
    thead {
        color: darkcyan;
        th {
            background-color: black;
            border-bottom: 3px solid darkcyan; } }
    th, td {
        padding: 20px;
        letter-spacing: 1px;
        text-align: center; }
    .win {
        color: cyan; }
    tr:nth-child(odd) {
        background-color: #111; }
    tr:nth-child(even) {
        background-color: black; } }
#t-corto:before{
  content: "TEMPORADA"; }
#c-corto:before{
  content: "CARRERAS"; }
#v-corto:before{
  content: "VICTORIAS"; }
.aclaracion {
    padding: 30px; }

/* MEDIA QUERY */
/* MEDIUM */
@media (max-width: 991px) {
    /* titulo */
    .title-car h2 {
        font-size: 1.6rem; }
    /* tabla */
    .table-car {
        font-size: 0.75rem;
        th, td {
            padding: 10px; } }
    #t-corto:before {
        content: "TEMP."; }
    #c-corto:before {
        content: "CARR."; }
    #v-corto:before {
        content: "VIC."; } }
/* CUSTOM */
@media (max-width: 667px) {
    /* titulo */
    .title-car h2 {
        font-size: 1.4rem; }
    /* tabla */
    .table-car {
        font-size: 0.7rem;
        th, td {
            padding: 5px; } } }
/* EXTRA SMALL */
@media (max-width: 575px) {
    /* titulo */
    .title-car h2 {
        font-size: 1.1rem; }
    /* tabla */
    .table-car {
        font-size: 0.6rem;
        line-height: 0.75rem;
        th, td {
            padding: 2.5px; } } }