@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
* {
  margin: 0;
  padding: 0; }
html {
  cursor: url("https://i.ibb.co/7VMmqd8/cursor.png"), auto; }
body {
  background-color: black;
  font-family: "Titillium Web", Helvetica, Arial, sans-serif; 
  line-height: 1.3rem;
  color: white; }
/* MENU */
header {
  height: 54px;
  ul {
    list-style: none; }
  a {
    font-family: 'Ropa Sans', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 15px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: darkcyan;
    transition: color 0.4s;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;;
    &:hover {
      color: cyan;
      text-decoration: none; } } }
  .logo img {
    width: 52.3px;
    height: 40px;
    margin-left: 10px; }
.navbar-custom {
  background-color: black;
  border-bottom: solid 1px #111;
  transition: border-color ease-in-out 0.7s;
  &:hover {
  border-color: darkcyan; } }
.open{
  color: darkgray; }
  .open:hover {
    color: white; }

/* FOOTER */
/* PARTNERS */
.partners {
  text-align: center;
  border-top: solid 1px #111;
  & img {
    max-width: 45%;
    transition: all 0.35s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
    &:hover {
      filter: none;
      transform: scale(1.15); } } }
/* REDES Y COPY */
.redes-copy {
  width: 100%;
  height: 50px;
  justify-content: center;
  bottom: 0;
  border-top: solid 1px #111; }
#copyright {
  filter: brightness(25%); }
#instagram, #twitter, #facebook {
  position: absolute;
  color: white;
  font-size: 2rem;
  margin-top: 10px;
  transition: all 0.35s; }
#instagram {
  right: 120px;
  &:hover {
    color: #c13584; } }
#twitter {
  right: 80px;
  &:hover {
    color: #1da1f2; } }
#facebook {
  right: 40px;
  &:hover {
    color: #4267b2; } }

/* MEDIA QUERY */
/* MEDIUM */
@media (max-width: 991px) {
  .logo img {
    margin-left: 0; }
  .partners img {
    max-width: 25%; } }

/* SMALL */
@media (max-width: 767px) {
  .redes-copy img {
    max-width: 40%; }
  #copyright {
    display: none; } }