/* ----- TRAYECTORIA ----- */
/* BOXES */
.box-t {
    border: 4px solid darkcyan;
    box-sizing: border-box;
    width: 550px;
    height: 390px;
    margin: 10px 0 20px 0;
    border-radius: 7.5px;
    transition: border 0.7s;
    &:hover {
        border: solid 4px cyan; } }
/* H2 */
.box-t h2 {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 0px;
    margin: 30px 20px; }
    .box-t-right h2 {
        text-align: right; }
/* IMAGENES */
.img-t {
    width: 500px;
    height: 300px;
    margin: 0 20px;
    background-size: cover;
    border-radius: 5px; }
/* FONDO */
.info-t {
    overflow: hidden;
    width: 500px;
    height: 300px;
    background-color: #111;
    opacity: 0;
    transition: all 0.7s;
    &:hover {
        opacity: 0.9;
        border-radius: 5px; } }
/* TEXTO */
.text-t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 20px;
    line-height: 1.5rem; }

/* LINKS IMAGENES */
/* BOXES */
    /* BOX 1 (1995) */
    #img1 {
        background-image: url("https://i.ibb.co/GTSV4yp/LH-1995.jpg"); }
    /* BOX 2 (1999-2000) */
    #img2 {
        background-image: url("https://i.ibb.co/6HTP6SV/LH-1999.jpg"); }
    /* BOX 3 (2001-2003) */
    #img3 {
        background-image: url("https://i.ibb.co/C1PWb5J/LH-2001.jpg"); }
    /* BOX 4 (2004-2005) */
    #img4 {
        background-image: url("https://i.ibb.co/P9TYSgy/LH-2004.jpg"); }
    /* BOX 5 (2006) */
    #img5 {
        background-image: url("https://i.ibb.co/DwBKdgX/LH-2006.jpg"); }
    /* BOX 6 (2007) */
    #img6 {
        background-image: url("https://i.ibb.co/mS82CRF/LH-2007.jpg"); }
    /* BOX 7 (2008) */
    #img7 {
        background-image: url("https://i.ibb.co/THhcBxz/LH-2008.jpg"); }
    /* BOX 8 (2009-2012) */
    #img8 {
        background-image: url("https://i.ibb.co/5BSw2KZ/LH-2009.jpg"); }
    /* BOX 9 (2013) */
    #img9 {
        background-image: url("https://i.ibb.co/8YPyjrW/LH-2013.jpg"); }
    /* BOX 10 (2014) */
    #img10 {
        background-image: url("https://i.ibb.co/L5bM9My/LH-2014.jpg"); }
    /* BOX 11 (2015) */
    #img11 {
        background-image: url("https://i.ibb.co/fv3tH0k/LH-2015.jpg"); }
    /* BOX 12 (2016) */
    #img12 {
        background-image: url("https://i.ibb.co/287hPgf/LH-2016.jpg"); }
    /* BOX 13 (2017) */
    #img13 {
        background-image: url("https://i.ibb.co/D5R0Cjh/LH-2017.jpg"); }
    /* BOX 14 (2018) */
    #img14 {
        background-image: url("https://i.ibb.co/PGPvGWj/LH-2018.jpg"); }
    /* BOX 15 (2019) */
    #img15 {
        background-image: url("https://i.ibb.co/xD3SWFf/LH-2019.jpg"); }
    /* BOX 16 (2020) */
    #img16 {
        background-image: url("https://i.ibb.co/cF5KXpn/LH-2020.jpg"); }
    /* BOX 17 (2021) */
    #img17 {
        background-image: url("https://i.ibb.co/pbJPrGx/LH-2021.jpg"); }

/* MEDIA QUERY */
/* EXTRA SMALL */
@media (max-width: 575px) {
    .box-t {
    width: 450px;
    height: 330px; }
    .img-t {
    width: 400px;
    height: 240px; }
    .info-t {
    width: 400px;
    height: 240px; }
    .text-t {
    width: 400px;
    height: 240px;
    font-size: 1.25rem;
    line-height: 1.25rem; } }
/* CUSTOM */
@media (max-width: 475px) {
    .box-t {
    width: 350px;
    height: 270px; }
    .img-t {
    width: 300px;
    height: 180px; }
    .info-t {
    width: 300px;
    height: 180px; }
    .text-t {
    width: 300px;
    height: 180px;
    font-size: 1rem;
    line-height: 1rem; } }